body {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(120deg, #87ceeb, #f08080);
  color: #333;

}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  background: linear-gradient(#e4f2fe, #b0d4f1);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.button__Wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

h1 {
  color: #333;
}

#score, #upgrade {
  font-size: 18px;
}

#cps {
  font-size: 18px;
  margin-bottom: 10px;
}

#color-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  cursor: pointer;
}

#color-box:hover{
  transform: scale(1.03);
}

#upgrade-button {
  margin-top: 10px;
  padding: 5px 10px;
}

#color-box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


#color-box:active {
  transform: scale(1);
}